<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite" guice-stage="DEVELOPMENT">
    <test verbose="2" preserve-order="true" thread-count="5" name="Verify the user can login">
        <classes>
            <class name="LoginPageTest"/>
        </classes>
    </test>
</suite>